*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#ffffff;
    color:#333;
}

/* ===== CAPA ===== */

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
               url("imagens/capa.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.conteudo{
    max-width:900px;
}

.hero h3{
    font-weight:300;
    letter-spacing:4px;
    margin-bottom:20px;
}

.hero h1{
    font-family:'Cormorant Garamond',serif;
    font-size:90px;
    font-weight:600;
    margin-bottom:20px;
}

.hero span{
    color:#d4af37;
}

.hero p{
    font-size:22px;
    line-height:1.7;
    margin-bottom:40px;
}

.botao{
    display:inline-block;
    padding:18px 45px;
    background:#d4af37;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
    font-weight:600;
}

.botao:hover{
    background:#b99228;
    transform:translateY(-3px);
}

section{
    padding:100px 30px;
}

section h2{
    font-family:'Cormorant Garamond',serif;
    font-size:55px;
    text-align:center;
    color:#0F2D52;
}

/* ===== CELULAR ===== */

@media(max-width:768px){

.hero h1{
    font-size:55px;
}

.hero p{
    font-size:18px;
}

.hero h3{
    font-size:16px;
}

.botao{
    width:100%;
    max-width:300px;
}

section h2{
    font-size:40px;
}

}